//  Variables

$FirstBackgroundBolor: #aab4c1;
$SecondBackgroundBolor: #e5ecf3;
$ThirdBackgroundBolor: #66717f;
$FourthBackgroundBolor: #39475a;
$LightBackground: #ffff;
$PrimaryText: #ffffff;
$SecondaryText: #52647b;
