@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:wght@200;300;400;500;600;700&family=Rubik+Spray+Paint&display=swap");
* {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  outline: none;
  scroll-behavior: smooth;
  scroll-padding-top: 2rem;
}

html::-webkit-scrollbar {
  width: 0.5rem;
}

html::-webkit-scrollbar-thumb {
  background: orange;
  border-radius: 0.5rem;
}

html::-webkit-scrollbar-track {
  background: white;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 260px;
  background: #aab4c1;
  transition: 0.3s linear all;
}

header p {
  padding: 10px;
  font-weight: 700;
  border-radius: 0.2rem;
  background-color: white;
  color: #52647b;
}

header.shadow {
  box-shadow: 0 0 6px orange;
  background-color: rgba(35, 35, 35, 0.3960784314);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
}

section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, auto));
  gap: 1rem;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  margin-top: 4rem;
  padding: 40px 260px;
  margin: 0 auto;
}

form {
  display: grid;
  align-items: center;
  row-gap: 0.4rem;
  padding: 22px;
  border-radius: 0.5rem;
  color: #52647b;
  background-color: white;
  width: 245px;
}
form input {
  background-color: white;
  border: 1px solid #39475a;
  border-radius: 0.2rem;
  padding: 4px;
  width: 200px;
}
form input::-moz-placeholder {
  color: #39475a;
  font-weight: 700;
  font-size: 0.7rem;
}
form input::placeholder {
  color: #39475a;
  font-weight: 700;
  font-size: 0.7rem;
}
form input:nth-child(5) {
  height: 60px;
}
form input[type=submit] {
  background: linear-gradient(to left, orange, black);
  color: white;
  font-weight: 500;
  border-radius: 0.2rem;
  padding: 4px;
  width: 200px;
  height: 30px;
  transition: 0.3s linear all;
}
form input[type=submit]:hover {
  background: linear-gradient(to right, orange, black);
  box-shadow: 4px 4px 10px 4px #52647b;
  cursor: pointer;
}
form input:focus {
  border: 1px solid orange;
}

.navbar {
  display: flex;
  -moz-column-gap: 2.4rem;
       column-gap: 2.4rem;
}

.navbar a {
  font-size: 1rem;
  font-weight: 500;
  color: #ffffff;
  transition: 0.2s linear all;
}
.navbar a:hover {
  border-bottom: 4px solid orange;
  height: 40px;
}

.up {
  margin-top: 100px;
}

.container {
  max-width: 1068px;
  margin: auto;
  width: 100%;
}

#menu-icon {
  display: none;
  font-size: 30px;
  cursor: pointer;
}

.headline h1 {
  color: #ffffff;
  font-size: 2.9rem;
  width: 700px;
  font-weight: 700;
}

.headline p {
  color: #ffffff;
  font-size: 1rem;
  width: 600px;
  font-weight: 400;
}

.us h1 {
  color: #52647b;
  font-size: 2.4rem;
  width: 600px;
  font-weight: 700;
}

.us p {
  color: #52647b;
  font-size: 1rem;
  width: 600px;
  font-weight: 400;
}

.ellos {
  width: 350px;
  border-radius: 0.5rem;
}

.title {
  padding: 50px;
  text-align: center;
  color: #52647b;
}

.benefits {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, auto));
  gap: 2.65rem;
  -moz-column-gap: 13rem;
       column-gap: 13rem;
  margin-top: 4rem;
  padding: 40px 260px;
  margin: 0 auto;
}

.box {
  position: relative;
  padding: 10px;
  border: 2px solid #52647b;
  border-radius: 0.5rem;
  height: 80px;
}

.box-icon {
  position: absolute;
  bottom: 10px;
  left: -55px;
  padding: 10px;
  font-size: 45px;
  color: #805d1d;
}

.text-box h2 {
  color: #52647b;
  font-size: 1.1rem;
  width: 400px;
  font-weight: 700;
}

.text-box p {
  color: #52647b;
  font-size: 0.7rem;
  width: 400px;
  font-weight: 400;
}

.button-service {
  background: linear-gradient(to left, orange, black);
  color: white;
  font-weight: 500;
  border-radius: 0.2rem;
  padding: 4px;
  width: 200px;
  height: 30px;
  transition: 0.3s linear all;
}
.button-service:hover {
  background: linear-gradient(to right, orange, black);
  box-shadow: 4px 4px 10px 4px #52647b;
  cursor: pointer;
}

.center {
  padding: 50px;
  align-items: center;
  text-align: center;
}

.questions {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(580px, auto));
  gap: 0.65rem;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  margin-top: 4rem;
  padding: 40px 260px;
  margin: 0 auto;
  justify-content: center;
}

.question {
  width: 600px;
}

.text-questions {
  color: #52647b;
  font-size: 1rem;
  width: 700px;
  font-weight: 700;
}

.contact {
  display: grid;
  row-gap: 0.9rem;
  padding: 25px;
  text-align: center;
  background-color: white;
  border-radius: 0.5rem;
  width: 350px;
}
.contact p {
  color: #52647b;
  font-size: 0.7rem;
  width: 300px;
  font-weight: 500;
}
.contact button {
  background: linear-gradient(to left, orange, black);
  color: white;
  font-weight: 500;
  border-radius: 0.2rem;
  padding: 4px;
  width: 200px;
  height: 30px;
  transition: 0.3s linear all;
  margin: 0 auto;
}
.contact button:hover {
  background: linear-gradient(to right, orange, black);
  box-shadow: 4px 4px 10px 4px #52647b;
  cursor: pointer;
}

.text-contact {
  color: #ffffff;
  font-size: 1.2rem;
  width: 500px;
  font-weight: 500;
}

.footer {
  margin-top: -10rem;
}

.footer-box h3 {
  color: #ffffff;
  font-size: 1.2rem;
  width: 300px;
  font-weight: 700;
  margin-bottom: 10px;
}

.footer-box P {
  color: #ffffff;
  font-size: 0.6rem;
  width: 300px;
  font-weight: 400;
}

.footer-box li a {
  color: #ffffff;
}

.footer-box li a:hover {
  color: orange;
}

.footer-box li {
  transition: 0.5s;
}
.footer-box li:hover {
  transform: translateX(-12px);
  transition: 0.5s;
}

.pagamento {
  display: flex;
  align-items: center;
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
}
.pagamento img {
  width: 44px;
  border-radius: 0rem;
}

.social-ellos {
  display: flex;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
}
.social-ellos img {
  width: 60px;
  border-radius: 0rem;
  margin-top: -10px;
}

.social a .bx {
  font-size: 24px;
  color: #ffffff;
  border: 2px solid orange;
  padding: 10px;
  border-radius: 50%;
  transition: 0.3s linear;
}
.social a .bx:hover {
  background: orange;
  transform: scale(1.2);
  transition: 0.3s linear;
}

@media (max-width: 1325px) {
  header {
    padding: 12px 4%;
  }
  #menu-icon {
    display: initial;
  }
  header .navbar {
    position: absolute;
    width: 240px;
    height: 100vh;
    top: 100%;
    left: -100%;
    display: flex;
    flex-direction: column;
    row-gap: 1.4rem;
    padding: 20px;
    background-color: rgba(35, 35, 35, 0.3960784314);
    -webkit-backdrop-filter: blur(4px);
            backdrop-filter: blur(4px);
    transition: 0.2s linear;
    text-align: left;
  }
  .navbar.active {
    left: 0;
  }
  section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, auto));
    gap: 1rem;
    -moz-column-gap: 1rem;
         column-gap: 1rem;
    margin-top: 4rem;
    padding: 40px 260px;
    margin: 0 auto;
  }
}
@media (max-width: 970px) {
  section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, auto));
    gap: 1rem;
    -moz-column-gap: 1rem;
         column-gap: 1rem;
    margin-top: 4rem;
    padding: 40px 260px;
    margin: 0 auto;
  }
  .title {
    padding: 30px;
    font-size: 1.3rem;
  }
  .headline h1 {
    color: #ffffff;
    font-size: 1.2rem;
    width: 500px;
    font-weight: 700;
  }
  .headline p {
    color: #ffffff;
    font-size: 0.7rem;
    width: 400px;
    font-weight: 400;
  }
  .us h1 {
    color: #52647b;
    font-size: 1.2rem;
    width: 400px;
    font-weight: 700;
  }
  .us p {
    color: #52647b;
    font-size: 0.7rem;
    width: 400px;
    font-weight: 400;
  }
  .ellos {
    width: 250px;
    border-radius: 0.5rem;
    margin-bottom: 4rem;
  }
  .question {
    width: 440px;
  }
  .questions {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, auto));
    gap: 0.65rem;
    -moz-column-gap: 1rem;
         column-gap: 1rem;
    margin-top: 4rem;
    padding: 40px 260px;
    margin: 0 auto;
    justify-content: center;
  }
  .text-questions {
    color: #52647b;
    font-size: 1.2rem;
    width: 300px;
    font-weight: 700;
    margin: 0 auto;
  }
  .contact {
    row-gap: 0.9rem;
    padding: 15px;
    width: 240px;
  }
  .contact p {
    color: #52647b;
    font-size: 0.7rem;
    width: 200px;
    font-weight: 500;
  }
  .benefits {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(380px, auto));
    gap: 2rem;
    -moz-column-gap: 1rem;
         column-gap: 1rem;
    margin-top: 4rem;
    padding: 40px 260px;
    margin: 0 auto;
  }
  .box {
    padding: 10px;
    width: 75%;
  }
  .box-icon {
    position: absolute;
    bottom: 10px;
    left: -55px;
    padding: 10px;
    font-size: 30px;
    color: #805d1d;
  }
  .text-box h2 {
    color: #52647b;
    font-size: 0.7rem;
    width: 300px;
    font-weight: 700;
  }
  .text-box p {
    color: #52647b;
    font-size: 0.5rem;
    width: 300px;
    font-weight: 400;
  }
  .text-contact {
    color: #ffffff;
    font-size: 0.8rem;
    width: 400px;
    font-weight: 500;
  }
}
@media (max-width: 776px) {
  section {
    padding: 20px 130px;
  }
  header p {
    font-size: 0.5rem;
  }
  .headline h1 {
    color: #ffffff;
    font-size: 0.7rem;
    width: 200px;
    font-weight: 700;
  }
  .headline p {
    color: #ffffff;
    font-size: 0.5rem;
    width: 200px;
    font-weight: 400;
  }
  .us h1 {
    color: #52647b;
    font-size: 0.7rem;
    width: 300px;
    font-weight: 700;
  }
  .us p {
    color: #52647b;
    font-size: 0.5rem;
    width: 300px;
    font-weight: 400;
  }
  .ellos {
    width: 150px;
    border-radius: 0.5rem;
    margin-bottom: 2rem;
  }
  .questions {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, auto));
    gap: 0.65rem;
    -moz-column-gap: 1rem;
         column-gap: 1rem;
    margin-top: 4rem;
    padding: 40px 260px;
    margin: 0 auto;
  }
  .text-questions {
    color: #52647b;
    font-size: 0.6rem;
    width: 300px;
    font-weight: 700;
  }
  .contact p {
    color: #52647b;
    font-size: 0.5rem;
    width: 200px;
    font-weight: 500;
  }
  .benefits {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    gap: 1rem;
    -moz-column-gap: 1rem;
         column-gap: 1rem;
    margin-top: 4rem;
    padding: 40px 260px;
    margin: 0 auto;
  }
  .box-icon {
    position: absolute;
    bottom: 10px;
    left: -55px;
    padding: 10px;
    font-size: 25px;
    color: #805d1d;
  }
  .text-box h2 {
    color: #52647b;
    font-size: 0.5rem;
    width: 100px;
    font-weight: 700;
  }
  .text-box p {
    color: #52647b;
    font-size: 0.4rem;
    width: 100px;
    font-weight: 400;
  }
  .text-contact {
    color: #ffffff;
    font-size: 0.5rem;
    width: 200px;
    font-weight: 500;
  }
  .pagamento img {
    width: 34px;
    border-radius: 0rem;
  }
}
@media (max-width: 526px) {
  section {
    padding: 10px 20px;
  }
  .logo {
    width: 55px;
  }
  .up {
    margin-top: 50px;
  }
  .benefits {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, auto));
    gap: 1rem;
    -moz-column-gap: 1rem;
         column-gap: 1rem;
    margin-top: 4rem;
    padding: 40px 260px;
    margin: 0 auto;
  }
  .questions {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    gap: 0.65rem;
    -moz-column-gap: 1rem;
         column-gap: 1rem;
    margin-top: 4rem;
    padding: 40px 260px;
    margin: 0 auto;
  }
}/*# sourceMappingURL=style.css.map */